Flask==2.3.6
gunicorn==21.2.2
mysql-connector-python==8.1.0
requests==2.31.0
beautifulsoup4==4.12.2
requests-html==0.10.0
lxml==4.9.3
newspaper3k==0.2.8
cloudscraper==1.2.71
authlib==1.2.0
werkzeug==2.3.8
transformers==4.44.0
torch==2.3.1
sentencepiece==0.1.99
google-auth==2.21.0
google-auth-oauthlib==1.2.0
